body {

	background-color:black;
	color:white;
	font-family: Tahoma,Helvetica;
	font-size: 12pt;
}

#container {

	width: 990px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;

}

#main {

	background-color:white;
	color:black;
	padding-top:0px;
	margin-top:0px;
	padding:10px

} 

#logo {

	display:block;
	padding-bottom:0px;
	margin-bottom:0px;

}

#nav {

	margin-top:0px;
	list-style:none;
	padding:0px;
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	
}

#nav li {

	float:left;
	width:140px;
	padding:0px;
	margin:0px;
	
}

#nav li a {

	height: 35px;
	width: 140px;
	display: block;

}

#home {

	background-image: url("/media/home.png");

}

#home:hover {

	background-image: url("/media/homehov.png");
	
}

#about {

	background-image: url("/media/about.png");

}

#about:hover {

	background-image: url("/media/abouthov.png");
	
}

#more {

	background-image: url("/media/more.png");

}

#more:hover {

	background-image: url("/media/morehov.png");
	
}

#contact {

	background-image: url("/media/contact.png");

}

#contact:hover {

	background-image: url("/media/contacthov.png");
	
}

#info {

	margin-top:15px;
	list-style:none;
	padding:0px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

#comic {

	background-image:url('/media/bat.png');
	background-repeat: no-repeat;
	padding-top:0px;
	margin-top:0px;
	padding:0px;
	margin-left: 0px;
	margin-right: 0px;
	width:970px;
	position:relative;

}

#comic_img {

	display:block;
	width:450px;
	margin-left: auto;
	margin-right: auto;

}

#next,#prev {

	position:absolute;
	top:150px;
}

#prev {

	left:79px;
}

#next {

	left:740px;

}

.thumb_img{

	border:1px solid white;

}

.thumb_text{

	position:relative;
	top:-10px;
}

#addthisbitch{

	text-align: center;
	padding-top: 10px; 
	margin-left: auto;
	margin-right: auto;
	width: 184px;
}

#social{

	text-align: center;

}

.social p{

	margin:5px;

}

#social_links {

	margin-top:0px;
	list-style:none;
	padding:0px;
	width: 201px;
	height: 70px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#social_links li {

	width:57px;
	padding:0px;
	margin: 0px 5px;
	float: left;
	
}

#copyright{

	text-align: right;
	margin-top: 5px
}

h1 {

	padding:0px;
	margin:0px;
	clear:both;

}

/* Comments */

#comment {
	width: 500px;
	margin-left:auto;
	margin-right: auto;
	padding: 10px;
	border: 1px solid black;
}

#comment form p {
	margin: 8px 0px;
}

#comment form label {
	display: block;
	float: left;
	margin-top: 5px;
	width: 130px;
}

#comment form input[type="text"], #comment form textarea {
	width: 364px;
	border: 1px solid black;
	padding: 2px;
}

#comment form input[type="text"] {
	height: 22px;
}

#comment form textarea {
	height: 150px;
	font-family: Tahoma,Helvetica;
}

#comment form {
	margin-bottom: 10px;
}
	

.comment {
	border-top: 1px solid black;
	margin-top: 10px;
}

.comment-info {
	font-size: 0.8em;
}
